
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* sehar style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.colors {
  background-color: #FD6E0A;
  color: white;
  padding: 3px;
  border-radius: 5px;

}

/* navigation    */

header {
  background-color: #FFF8F3;
  background: url("../images/developer.png"), url("../images/header_bg.png");
  background-position: 23px 38px, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;

}

nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav .menu {

  display: flex;
  gap: 51px;
  list-style: none;
  font-weight: 20px;
}
#banner {
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  font: weight 45px;
}

.benar-left h3 {
  font-weight: 30px;
  margin-bottom:10px;
}

.benar-left h1 {
  font-weight: bolder;
  margin-bottom: 10px;

}

.benar-left p {
  line-height: 20px;
  margin-bottom: 10px;
}

.benar-left button {
  padding: 10px;
  margin: 5px;
}

.benar-right img {
  vertical-align: right;

}

/* about section */

.about-section {
  /* background-color: #FFF8F3; */
  margin-top: 45px;


}

.about-container {
  /* border: 1px solid red; */
  width: 71%;
  max-width: 1140px;
  background-color: #FFF8F3;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
  padding: 131px, 156px;
  justify-content: space-around;
}

.about-small-container {
  /* border: 1px solid red;*/
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  justify-content: space-around;
}

.about-small-container ul {
  display: flex;
  list-style: none;
  font-size: small;
  justify-content: space-around;


}

.about-small-container p {
  font-size: small;
  margin-bottom: 5px;
  justify-content: space-around;
}

.about-small-container h3 {
  margin-bottom: 5px;
  justify-content: space-around;
}



/* larn some  */

.larn-sum {
  text-align: center;
  padding-top: 50px;
  width: 71%;
  margin: 0 auto;
}

.larn-sum p {
  margin-top: 15px;
}

/* larn cart */

.larn-cart {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;

}

.larn-cart .cart {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;

  /* background-color: #FFF8F3; */
}

.larn-cart .cart div {
  /* border: 1px solid red; */
  padding: 7px;
  background-color: #FFF8F3;


}

.cart-style img,
h4,
p {
  margin-bottom: 10px;
  padding: 5px;

}

.cart {
  gap: 6px;
}

/* footer section */

footer {
  margin-top: 40px;
  background-color: #FFF8F3;
  padding: 130px 0;
}

footer .footer-containar {
  width: 71%;
  max-width: 1140px;
  background-color: #FFF8F3;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 110px;
}

.footer-containar .socal {
  max-width: 562px;
}

.footer-containar h2 {
  margin-bottom: 20px;
}

.footer-containar p {
  color: #474747;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer-containar .icon a {
  margin-right: 24px;
}

.footer-containar .from .input {
  width: 400px;
  padding: 15px 29px;
  margin-bottom: 20px;
  /* border: none; */
  border-radius: 6px;

}

.footer-containar .from textarea {
  width: 400px;
  padding: 10px 22px;
  margin-bottom: 0px;
  /* border: none; */
  border-radius: 6px;
  height: 100px;
}

/* finis  */
